<div class="container">
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <div class="page-header">
                    <h1>Northwestern University Conference Platform</h1>
                </div>
                <p class="lead">Welcome to the Northwestern Pritzker School of Law's Conference on Public Policy!</p>
                <p>To access the session information, please register or log in: </p>
                <p><a href="/#/login">Login</a> | <a href="/#/registration">Registration</a></p>
            </div>
        </div>
    </div>

</div>