<div class="jumbotron" ng-if="currentUser">
    <div class="container">
        <ul class="alphabet">
            <li ng-repeat="char in alphabet">
                <span ng-click="filterByAlphabet(char)">{{char}}</span>
            </li>
        </ul>

    </div>
</div>

<div class="container" >
    <div class="panel panel-default">
        <div class="panel-heading">
            {{headingTitle}}
            <div class="pull-right">
                <input class="search" type="text" ng-model="query.sessionname" placeholder="Search...">
            </div>
        </div>
        <div class="panel-body" >
            <div class="row show-list" style="margin-left:auto;margin-right:auto">
                <table border="0" cellpadding="5" style="width:100%;" class="table ">
                    <thead>
                        <tr>
                            <th>Session Name</th>
                            <th>Speaker</th>
                            <th>Number of Attendees</th>
                            <th>Number of Comments</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="session in sessions | filter:query ">
                            <td><a href="/sessions/{{session._id}}">{{session.sessionname}}</a></td>
                            <td>{{session.speakerfname}} {{session.speakerlname}}</td>
                            <td>{{session.attendees.length}}</td>
                            <td>{{session.attendees.length}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   
</div>
